---
layout: default
title: MV* GitHub Stargazers
angular: 1.2.0-rc.2
---
<style>
    .dl-horizontal dd {
        width: 48px;
        text-align: right;
    }
</style>

<h2>{{ page.title }}</h2>

<div class="row" ng-app="mvstar">

    <div class="col-lg-8">
        <h3>References</h3>
        <ul>
        <li>
            <a href="http://todomvc.com/">TodoMVC Labs</a>.
        </li>
        <li>
            <a href="http://blog.stevensanderson.com/2012/08/01/rich-javascript-applications-the-seven-frameworks-throne-of-js-2012/">
                Rich JavaScript Applications - the Seven Frameworks (Throne of JS, 2012)</a>.
        </li>
        <li>
            <a href="http://coding.smashingmagazine.com/2012/07/27/journey-through-the-javascript-mvc-jungle/">
                Journey Through The JavaScript MVC Jungle</a>.
        </li>
        <li>
            <a href="http://addyosmani.com/largescalejavascript/">
                Patterns For Large-Scale JavaScript Application Architecture</a>.
        </li>
        </ul>

    </div>

    <div class="col-lg-4">

        <div ng-controller="mvstarCtrl">

            <div class="radio">
                <label>
                    <input type="radio" ng-model="repoOrderBy" value="-watchers">
                    Sort projects by watchers
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="repoOrderBy" value="name">
                    Sort projects by name
                </label>
            </div>
            <dl class="dl-horizontal">
                <span ng-repeat="repo in reposInfo | orderBy:repoOrderBy">
                    <dt><a href="{[ repo.html_url ]}">{[ repo.name ]}</a></dt>
                    <dd>{[ repo.watchers ]}</dd>
                </span>
            </dl>

        </div>

    </div>

</div>

<script src="mvstar.js"></script>
